.completed-challenges-container {
    padding: 1rem;
    margin: 3.5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #d7d8da;
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
  }
  
  .completed-challenges-container span:first-child {
    font-size: 1.25rem;
  }
  
  .completed-challenges-container span:last-child {
    font-size: 1.5rem;
  }