.App {
  text-align: center;
}

* {
  box-sizing: border-box;
}

.containerLeft {
  width: 40vw;
  height: 80vh;
  margin-left: 15%;
  background-color: white;
  margin-top: 5%;
}

.containerRight {
  width: 40vw;
  height: 80vh;
  margin-left: 15%;
  background-color: white;
}

.fatherDiv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

body {
  background-color: rgb(248, 242, 242);
}